$main-body-bg: #F5F6FA;
$white: #ffffff;
$black: #000000;
$grey-table-header: #9B9EAC;
$soft-grey-table: #F5F6FA;
$color-body-table: #20253A;
$color-link: #5977FF;
$soft-grey-card: #D8CECC;
$green-done-task: #1AB841;
$red-pending-task: #F12A1A;
$color-primary-button: #0054FE;
